@use '../../variables/_colors.scss' as colors;
@use '../../variables/_fonts.scss' as fonts;

@import '../../mixins/_mixins.scss';
.form {
  margin: 0 auto;
  width: 300px;
  color: colors.$main-text-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    display: block;
    width: 35px;
  }

  &__select {
    margin-top: 10px;
    color: colors.$main-text-color;
    font-size: fonts.$medium-font;
    font-weight: 800;
    @include flexSpaceBetween;
  }

  &__subheader {
    color: colors.$main-text-color;
  }
}
