$create-matrix-button-color: #00ffff;
$create-matrix-button-text: #ff0000;
$disabled-button-text: #666;
$disabled-button-bg: #ccc;
$disabled-button-border: #999;

$main-text-color: #fff;
$main-background-color: #1aa59f;

$cell-background-color: #60dbfb;
$cell-bg-hover-color: #f87a63;

$additional-text-color: #000;
$additional-color: #f5f827;

$shadow-color: #6a6a6a
