.app {
  text-align: center;

  &-banner {
    margin: 0 auto;
    background-color: #1aa59f;
    width: 700px;
    padding: 25px;

    &-heading {
      font-weight: bold;
      color: #f5f827;
      font-size: 45px;
    }
  }
}
