@use '../variables/_colors.scss' as colors;
@use '../variables/_fonts.scss' as fonts;

* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;

  &__banner {
    margin: 0 auto;
    background-color: colors.$main-background-color;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    &_heading {
      font-weight: 800;
      color: colors.$additional-color;
      font-size: fonts.$large-font;
    }
  }
}
