@use '../../variables/_colors.scss' as colors;
@use '../../variables/_fonts.scss' as fonts;

@import '../../mixins/_mixins.scss';

.table {
  margin: 0 auto;
  margin-top: 50px;

  &__row {
    @include flexCenter;

    &_average {
      margin-right: 47px;
    }

    &_info {
      @include flexCenter;
    }
  }
}
